@{
    ViewBag.Title = "About";
}
<section class="content">
    <div class="entry">
        <!--<div class="meta">
            <span><small class="post-pic"></small><strong>07</strong><small>Jan<br>
                2013</small></span>
        </div>
        <a href="single.html">
            <img src="@Url.Content("~/Images/blog/blog-single.jpg")" alt=""></a>-->
        <h2>Giới thiệu về New Fashion Shop</h2>
        <!--<ul>
            <li class="post">Posted by: <a href="#">Admin</a></li>
            <li class="category">Category: <a href="#">Inpirational</a></li>
            <li class="comment">Comment: <a href="#">4</a></li>
        </ul>-->
        <p><img src="@Url.Content("~/Images/logo.png")" alt="" align="left" /> New Fashion Shop (hay The New Shop) là một hệ thống cửa hàng kinh doanh trực tuyến chuyên về lĩnh vực thời gian nam nữ. Đến với New Fashion Shop, quý khách sẽ tìm được cho mình những bộ cánh thật đẹp, phù hợp với mọi hoạt động trong cuộc sống như trang phục công cở, trang phục dã ngoại hay cả trang phục dạ hội, với chất lượng sản phẩm cao mà giá cả lại phải chăng.</p>
        
        <p align="center">
            <img src="@Url.Content("~/Images/featured/featured-4.jpg")" alt="" />
        </p>

        <p>New Fashion Shop xin cam kết bán hàng đúng giá, đúng chất lượng, luôn đi theo phương châm "Khách hàng là thượng đế"!</p>

        <p>Mọi thông tin chi tiết xin vui lòng liên hệ với chúng tôi <b><a href="/Home/Contact/">tại đây</a></b>.</p>
        <p>Xin chân thành cảm ơn quý khách!</p>
    </div>
    <!--entry-->
</section>
<aside class="sidebar">
    
    <div class="side">
        <h4>Bestsellers</h4>
        <div class="entry">
            <div class="da-thumbs">
                <div>
                    <img src="@Url.Content("~/Images/products/thumb-1.jpg")" alt="">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <p><a href="#" class="link"></a></p>
                    </article>
                </div>
            </div>
            <h3><a href="product-detail.html">Sản phẩm 1</a></h3>
            <small>100000 VNĐ</small>
        </div>
        <div class="entry">
            <div class="da-thumbs">
                <div>
                    <img src="@Url.Content("~/Images/products/thumb-2.jpg")" alt="">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <p><a href="#" class="link"></a></p>
                    </article>
                </div>
            </div>
            <h3><a href="product-detail.html">Athletic Shoes</a></h3>
            <small>200000 VNĐ</small>
        </div>
    </div>
    <!--end:side-->
    
</aside>