@model NewFashionWebsite.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
}

<section class="content">
    <h2>Khôi phục mật khẩu</h2>
    <!--
    <div id="divPartialViewRegister">
        Html.Partial("~/Views/Shared/PartialRegister.cshtml")
    </div>-->
    
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-register", id = "form-register" }))
{
    @Html.ValidationSummary(true)
    <h3>Tài khoản</h3>
    <div class="registerbox">
        <fieldset>
            <div class="control-group">
                <label class="control-label"><span class="red">*</span>@Html.DisplayNameFor(m => m.Username): </label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Username, new { @class = "input-xlarge" })&nbsp @Html.ValidationMessageFor(m => m.Username)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="red">*</span>@Html.DisplayNameFor(m => m.Email): </label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @class = "input-xlarge" })&nbsp @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="pull-right">
            @Html.AntiForgeryToken()
        <input type="submit" class="submit" value="Khôi phục">
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#customerModel_cusaddress").datepicker(
                                    {
                                        changeMonth: true,
                                        changeYear: true,
                                        dateFormat: 'dd/mm/yy',
                                        yearRange: '-100:+0',
                                    });
        });
                        </script>
}
</section>
<aside class="sidebar">
    
    <div class="side">
        <h4>Bestsellers</h4>
        <div class="entry">
            <div class="da-thumbs">
                <div>
                    <img src="@Url.Content("~/Images/products/thumb-1.jpg")" alt="">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <p><a href="#" class="link"></a></p>
                    </article>
                </div>
            </div>
            <h3><a href="product-detail.html">Sản phẩm 1</a></h3>
            <small>100000 VNĐ</small>
        </div>
        <div class="entry">
            <div class="da-thumbs">
                <div>
                    <img src="@Url.Content("~/Images/products/thumb-2.jpg")" alt="">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <p><a href="#" class="link"></a></p>
                    </article>
                </div>
            </div>
            <h3><a href="product-detail.html">Athletic Shoes</a></h3>
            <small>200000 VNĐ</small>
        </div>
    </div>
    <!--end:side-->
    
</aside>