@{
    ViewBag.Title = "Xóa thông tin khách hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";    
    @Styles.Render("~/Content/css-admin-custom2")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @model NewFashionBLL.customer
}

<h2>Xóa thông tin khách hàng</h2>
<p>Bạn có chắc chắn muốn xóa thông tin của khách hàng <b>@Model.cuslastname</b> không? Lưu ý việc này không thể hoàn tác.</p>

<p align="center">
    @using (Html.BeginForm("DeleteCustomer", "CustomerMgmt", FormMethod.Post))
{
        @Html.Hidden("idCustomer", @Model.cusid)
        <input type="submit" value="Có, xóa thông tin khách hàng" /> 
        <input type="button" value="Quay lại" onclick="history.back(-1)" />
}
</p>
